@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #22272B;
  color: #B6C2CF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}